@model AddressBookMVC.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1>Category Details</h1>
    <div>
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" readonly class="form-control" id="FirstName" value ="@Model?.Name"/>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="glass-button text-light mt-2">Edit</a>
    <a asp-action="Index" class="glass-button text-light mt-2">Back to Categories</a>
</div>
