@model IEnumerable<AddressBookMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="glass-button text-light">Create New Category</a>
</p>

@foreach (var item in Model!) {
    <div class="glass-style glass-style-light p-2 mb-2">
            <span>@Html.DisplayFor(modelItem => item.Name)</span>
            <a asp-action="Edit" asp-route-id="@item?.Id"><i class="bi-pencil-fill" style="font-size: 1.5rem; color:white"></i></a>
            <a asp-action="Details" asp-route-id="@item?.Id"><i class="bi-person-fill" style="font-size: 1.5rem; color:white"></i></a>
            <a asp-action="Delete" asp-route-id="@item?.Id"><i class="bi-trash-fill" style="font-size: 1.5rem; color:red"></i></a>
    </div>
}
