@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered.
</p>
<p>
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl"><span class="fw-bold text-warning">Click here to confirm your account</span></a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

